<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda de contactos
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click) = "AgregarModal()" >Agregar</ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item-sliding *ngFor="let item of contactos; let i = index">
        <ion-item>
          <ion-label>{{item.nombre}}</ion-label>
          <div class="item-note" slot="end"> {{item.numero}} </div>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="danger" (click) = "eliminar(item.numero)">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
</ion-content>
